// colors
// $main-color:
// $secondary-color:
$fb-color: #4267b2;
$twitter-color: #1da1f2;
$instagram-color: #e95950;

$dark-color: #444;
$light-color: #f1f1f1;

$main-color: #ffbc00;
$medium-color: #ccc;

// Utils
.container {
  max-width: 1280px;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}

.logo {
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

.letter {
  color: gold;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

// button class
.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
  padding: 0.9rem 2rem;
}

// backgrounds
.bg-gold {
  background: gold;
  color: #fff;
}

.bg-light {
  //   background: $light-color;
  //   color: $dark-color;
  background: $fb-color;
  color: #fff;
}

.bg-medium {
  background: #efefef;
  color: #333;
}

// vertical padding
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

// padding
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.fx-vcenter {
  display: flex;
  align-items: center;
}

.fx-hcenter {
  display: flex;
  justify-content: center;
}

.fx-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

.text {
  color: gold;
}

.bottom-line {
  width: 4rem;
  height: 3px;
  margin: 0 auto 1rem auto;
  background: gold;
}

.p-lead {
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  text-align: center;
}
