@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import './utils';

// variables
// $main-color: #ade8f4;
// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// general
body {
  font-family: Dosis, sans-serif;
  height: 100vh;
  color: #fff;
}

// header
#header {
  height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 0.4);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://images.unsplash.com/photo-1594810205183-18a8b0ce6c13?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')
      no-repeat center center/cover;
    // background: url('https://images.uhttps://images.unsplash.com/photo-1608817576136-0f3a56922823?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZXVyb3BlYW4lMjB1bmlvbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60

    z-index: -1;
  }

  #main-navbar {
    overflow: hidden;
    padding-top: 0.5rem;

    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        font-size: 2rem;
        font-weight: bold;
        // color: $main-color;
      }

      .socials {
        width: 7.5rem;
        display: flex;
        justify-content: space-between;

        a {
          transition: color 0.2s ease;

          &:hover {
            color: $fb-color;
          }
        }
      }

      .list {
        list-style: none;
        display: flex;

        li {
          padding: 1rem 1rem;
          text-transform: uppercase;
        }
        a {
          padding: 0.2rem 0;
          border-bottom: 3px solid transparent;
          transition: border-color 0.2s ease;

          &:hover {
            border-color: #000;
          }

          &.current {
            border-color: #fff;
          }
        }
      }
    }
  }

  .section-content {
    padding: 15rem 0;

    h1 {
      font-size: 4rem;
      margin-bottom: 1rem;
      display: inline-block;
    }

    a {
      background: $fb-color;
      transition: all 0.3s ease;
      // font-size: 1.1rem;
      i {
        transition: transform 0.7s ease-out;
        padding-right: 0.2rem;
      }

      &:hover {
        // opacity: 0.8;
        transform: scale(0.94);

        & i {
          transform: rotate(360deg);
        }
      }
    }
  }
}

#home {
  &-a {
    // height: 100vh;
    h1 {
      text-align: center;
      padding-bottom: 0.5rem;
      font-size: 2rem;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;

      & > div {
        h2 {
          margin: 0.5rem 0;
          text-transform: uppercase;
          // color: $gold;
        }

        p {
          font-size: 1.1rem;
          line-height: 1.4;
        }

        i {
          transition: color 0.3s ease;
          &:hover {
            color: $gold;
          }
        }
      }
    }
  }
}
